@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
   themes: light --default ;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}




body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.activeClass.active {
  @apply bg-primary
}

/* স্লাইডারের সব স্লাইডকে সমান উচ্চতা নিশ্চিত করার জন্য */
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  height: auto !important; /* স্লাইডকে কন্টেন্ট অনুযায়ী লম্বা হতে দিবে */
  display: flex;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
